@media only screen and (min-width: 992px) {
  main {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  main {
    width: 80%;
  }
}

body {
  display: flex;
}

main {
  margin: 1%;
}

#search-bar {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 100%;
  border-radius: 10px;
  padding: 0.5%;
}

.search-result {
  padding: 20% !important;
}

.partner-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  border: 2px solid black;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 5px;
}

.active,
.inactive {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 10px;
  font-weight: bold;
}

.active {
  background-color: green;
}
.inactive {
  background-color: darkred;
}

.about {
  display: inline-block;
  height: 100%;
  width: 70%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  background-color: gray;
}

.link:hover {
  background-color: black;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;
}
