@media only screen and (max-width: 991px) {

  main {
    width: 100%;
  }

}

@media only screen and (min-width: 992px) {

  #partners-list .col-xl-5 {
    width: 48%;
  }

  aside .col-lg-3 {
    flex: auto;
  }

  main {
    width: 80%;
  }

}

body {
  display: flex;
}

main {
  padding: 1%;
}

.partner-add {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  border: 2px solid black;
  margin-bottom: 4%;
  padding: 1%;
  border-radius: 5px;
}

#partners-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partner-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  border: 2px solid black;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 5px;
}

.active,
.inactive {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 10px;
  font-weight: bold;
}

.active {
  background-color: green;
}
.inactive {
  background-color: darkred;
}

.about {
  display: inline-block;
  height: 100%;
  width: 70%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  background-color: gray;
}

.link:hover {
  background-color: black;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;
}
