AuthType Basic
AuthName "Restricted access"
AuthUserFile "C:/xampp/htdocs/ECF/ajouter/admin/.htpasswd"
Require valid-user

# Ceci est un commentaire. En local : AuthUserFile "C:/xampp/htdocs/ECF/ajouter/admin/.htpasswd". En ligne : AuthUserFile /app/ajouter/admin/.htpasswd
