AuthType Basic
AuthName "Restricted access"
AuthUserFile /app/new/admin/.htpasswd
Require valid-user

# Ceci est un commentaire. En local : AuthUserFile "C:/xampp/htdocs/ECF/new/admin/.htpasswd". En ligne : AuthUserFile /app/new/admin/.htpasswd
